{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
    <!-- http://getbootstrap.com/docs/4.1/components/alerts/ -->
    <table class="table table-striped">
    <thead>
      <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Transacted</th>
       </tr>
      </thead>
         <tbody>
            {% for history in histories %}
            <tr>

                <td>{{ history.symbol }}</td>
                <td>{{ history.shares }}</td>
                <td>{{ history.price }}</td>
                <td>{{ history.transacted }}</td>
            </tr>
            {% endfor %}

        </tbody>
      </table>
{% endblock %}
