{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <!-- http://getbootstrap.com/docs/4.1/components/alerts/ -->
    <table class="table table-striped">
    <thead>
      <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">TOTAL</th>
       </tr>
      </thead>
         <tbody>
            {% for stock in stocks %}
            <tr>

                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.total }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td colspan="5">{{ total }}</td>
            </tr>
        </tbody>
      </table>
{% endblock %}
