{% extends "layout.html" %}

{% block title %}
   change passwords
{% endblock %}

{% block main %}
    <form action="{{ url_for('change_passwords') }}" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="old_password" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password_confirmation" placeholder="confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">change</button>
    </form>
{% endblock %}
